h2.headeris {
    color:rgb(129, 30, 113);
}

/* Tag X button */
.tag-list li.close-btn {
    color: rgb(75, 9, 86);
    cursor: pointer;
}

.tag-list li.close-btn:hover {
    color:red;
}

/* Error and info masseges */
.info-container{
    padding: 25px;
    position: absolute;
    border-radius: 0 20px 20px 0;
    box-shadow: 3px 3px 4px grey;
    color: white;
    animation: hideMsg 3s forwards;
}

.info-container.alert-danger {
    background-color: rgba(169, 51, 51);
}

.info-container.alert-success {
    background-color: rgba(67, 168, 89);
}

.info-container.alert-info {
    background-color: rgba(11, 58, 84);
}

.info-container.alert-warning {
    background-color: rgba(180, 121, 27);
}

/* Main img */

.main-img-container{
    overflow:hidden;
    border-radius: 25px;
}

.main-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%;
}

.image-heart{
    position:relative;
}

.heart{
    position:absolute;
    top:-10px;
    right:5px;
    font-size: 3rem;
    text-shadow: 3px 3px 5px black;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.heart.empty {
    color:white;
}

.heart.full {
    color:red;
}

.heart span {
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
    position: absolute;
}

@keyframes hideMsg {
    0% { opacity: 0; }
    10% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; display: none; }
  }
